.auth-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../assets/AuthBg.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    position: fixed;
    inset: 0;
    padding-top: 102px; /* Добавляем отступ сверху для заголовка */
}
